h1.index {
    margin-bottom: 50px;
}
h2 {
    background-color: aquamarine;
    margin-bottom: 0px;
    font-size: medium;
    padding: 5px;
}

.article-info {
    background-color: aquamarine;
}

.article-content {
    background-color: #f0fff6;
    padding: 10px;
    margin: 0px;
}

nav.navbar {
    display: flex;
}

div.navbar-collapse {
    justify-content: flex-end;
}

div.row-button {
    margin-top: 20px;
}

.alert-danger {
    margin-top: 15px;
    text-align: center;
}